{
    "presets": [
        [
            "@babel/preset-react",
            {
                "pragma": "Didact.createElement",
                "pragmaFrag": "Didact.Fragment",
                "useBuiltIns": true
            }
        ]
    ]
}
